html{
  font-family: Helvetica;
}

.centertext {
  text-align: center;
}

.centerimage {
  display: block;
  margin: auto;
}

li {
  display: block;
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.background {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
}

a {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer h6 {
  color: white;
  background-color: dimgray;
  font-size: 11px;
}
